<div class="row card__character">
  <div class="col-6 xs-12">
    <img [src]="characterDetails?.image" class="img-fluid" />
  </div>
  <div class="col-6 xs-12 mx-1 text-center">
    <h2>
      {{ characterDetails?.name }}
    </h2>
    <p>
      Location:
      <input name="location" [(ngModel)]="characterDetails?.location.name" />
    </p>
    <small>New location: {{ characterDetails?.location.name }}</small>

    <div class="row my-1">
      <div class="col-6 mx-1">
        <button
          class="btn btn-secondary btn-lg btn-fluid"
          type="button"
          (click)="clearCharacter(characterDetails)"
        >
          Reset
        </button>
      </div>
      <div class="col-6 mx-1">
        <button
          class="btn btn-primary btn-lg btn-fluid"
          type="button"
          (click)="printCharacter(characterDetails)"
        >
          Print
        </button>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>
